* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    height: 70px;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px; /* Adjust the size of the logo as necessary */
    height: auto;
    margin-right: 10px; /* Space between logo and title */
}

h1 {
    font-size: 24px;
}

.title-section h1 {
    margin-left: 10px;
    font-size: 54px;
}
/* Mobile View */
@media (max-width: 767px) {
    .title-section h1 {
        font-size: 32px; /* Adjust as needed */
    }
}


.header-buttons {
    display: flex;
    gap: 10px;
}

.login-btn, .subscribe-btn {
    background-color: #FFCC00;
    border: none;
    color: black;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}

.container {
    display: flex;
    height: calc(100vh - 70px); /* Adjust to exclude the header height */
}

.sidebar {
    width: 500px;
}
/* Tablet */
@media (max-width: 1024px) {
    .sidebar {
        width: 250px;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .sidebar {
        width: 100%; /* Full width on mobile */
        position: relative;
    }
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: #111010;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #534c4c;
    padding: 10px;
    border-radius: 5px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #E0E0FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Add this to stack content vertically */
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
/* Tablet View */
@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile View */
@media (max-width: 767px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.grid .item {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.grid .item img, .grid .item video {
    max-width: 33%;
    height: auto;
    border-radius: 50px;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
